nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 55px;
}

/* основная часть с авто */

body div {
    /* border: black 1px solid; */
}

.ads-list {
    width: 60%;
    margin: 0px auto;
}

.ads-list .selling_car {
    border-radius: 10px;
    padding: 10px 10px;
}

.ads-list .selling_car:hover {
    background-color: #f5f5f5;
}

.ads-list .selling_car .car-photo {
    width: 30%;
}

.ads-list .selling_car img {
    /* height: 225px;
    width: 300px; */
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    /* max-height: 200px; */
}

.selling_car .car-selling-info {
    margin-left: 30px;
    gap: 105px;
}

.car-selling-info .car-description {
    line-height: 26px;
    width: 390px;
}


.car-selling-info .car-description .car-name {
    font-size: 19px;
}

.car-selling-info .car-description .car-equipment {
    font-size: 13px;
    color: gray;
}

.car-selling-info .car-description .car-characteristics {
    font-size: 16px;
}

.car-selling-info .car-price {
    font-weight: bold;
    text-align: left;
}

.car-selling-info .car-pre-rating {
    margin-top: 15px;
    padding: 5px 5px;
    margin-left: -5px;
    border-radius: 15px;
    background-color: #d9f7df;
    color: #37b379;
    width: 100%;
    font-size: 12px;
    text-align: center;
    /* flex-grow: 1; */
}

.car-seller-info {
    height: 100%;
    font-size: 12px;
    color: gray;
    line-height: 18px;
    /* margin-top: 105px; */
}

.car-seller-info .seller-nick {
    font-size: 13px;
}

.separating-line {
    margin: 5px 0px;
    border: 1px rgb(202, 202, 202);
    border-style: groove;
}

/* ===================== */

footer {
    background-color: #f5f5f5;
    padding: 10px 5px;
    margin: 20px 0px;
}