.login-window {
    padding: 15px;
    background-color:rgb(223, 223, 223);  
    width: 22%;  
    border-radius: 11px;
    margin: 60px auto;
}

.auth-text {
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}

.auth-input {
    margin-top: 10px;
}

.auth-input input {
    width: 100%;
    box-sizing: border-box;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

.btn-login {
    width: 100%;
    background-color: #ff5858;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}