.create-window {
    padding: 15px;
    background-color:rgb(223, 223, 223);  
    width: 38%;  
    border-radius: 11px;
    margin: 60px auto;
}

.text {
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}

.input-block {
    margin: 0px 85px;
    margin-top: 10px;
}

.description {
    font-size: 14px;
    margin-bottom: 3px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

.create-ad-button {

    margin-top: 25px;
    width: 100%;
    background-color: #ff5858;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}